<!DOCTYPE html>
<html lang="en" ng-app='firstModule'>
  <head>
    <title>TheNetNinja Angular Playlist</title>
    <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="app\lib\angular.min.js"></script>
    <script src="app\app.js"></script>
  </head>
  <body ng-init="meats=['beef', 'buffalo', 'chickens', 'burger']">
    <input type="text" ng-model="favMeat" placeholder="Enter your favorite meat">
    <p>Your farorite meat is: {{meats[favMeat]}}</p>
    <ul>
      <li ng-repeat="meat in meats">{{meat}}</li>
    </ul>

    <div ng-controller='firstController'>
      <p>{{message}}</p>
      <input type="text" ng-model='search'>
      <ul>
        <li ng-repeat="character in favAnimeCharacters | filter: search | orderBy: '-power' ">{{character.name}} - {{character.power}}</li>
      </ul>
    </div>
  </body>
</html>
